@font-face {
    font-family: 'VCR';
    src: url('../fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1f1f1f;
    
}
.container {
    display: flex;
    flex-direction: column;

    font-family: 'VCR';
    color: #fff7e0;
    font-size: 16px;
}

.header {
    display:flex;
    flex-direction: column;
    background-color: #1b1c17;
}

.header .whoami {
    flex: 3;
    color: #23cc00;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    
}
.header .skills {
    flex: 1;
    position: relative;
    text-align: center;
    padding: 5px;
}

.item {
    background-color: #171613;
    padding: 15px;
    margin: 7.5px;
    border-radius: 20px;
    border: solid 2px;
    border-color: #fff7e0;
    
}

.looq {
    background-color: #1c1a17;
}

.dwe {
    background-color: #17191c;
}

.dwe .img-container {
    display: flex;
    justify-content: left;
}
.dwe .img-wrapper {
    flex: 0 1 200px;
}
.img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}


a {
  color: #23cc00;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #86ff6d;
}
